body {
  background: #e5e5e5;
}
main {
  width: 100%;
}
#ler {
  color: #0a3871;
  font-weight: 400;
  background: #e5e5e5;
  border: none;
  font-size: 32px;
  position: absolute;
  left: 240px;
  top: 168px;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
img {
  margin-top: 40px;
  display: block;
}
#decodificado {
  background: #ffffff;
  display: inline-block;
  width: 400px;
  height: 823.8px;
  border-radius: 32px;
  margin-top: 20px;
  position: absolute;
  left: 1000px;
}
#imglupa {
  margin: auto;
  padding-top: 304px;
}
p {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  margin-top: 10px;
  position: absolute;
  left: 32px;
  top: 640px;
}
.txtdigitado {
  font-size: 15px;
  font-weight: 700;
  color: #343a40;
  line-height: 120%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
}
.txtdigitados {
  text-align: justify;
  font-size: 20px;
  font-weight: 700;
  color: #343a40;
  line-height: 120%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 20px;
  position: absolute;
  top: 50px;
}
.btncripto,
.btndescripto {
  border-radius: 24px;
  width: 328px;
  height: 67px;
  border: 1px solid #0a3871;
  display: inline;
  position: relative;
  top: 730px;
  left: 240px;
}
.btncripto:hover,
.btndescripto:hover,
.btncopiar:hover {
  font-size: 16px;
}

.btncripto {
  background: #0a3871;

  color: #ffffff;
}
.btndescripto {
  background: #d8dfe8;
}
.btncopiar {
  border-radius: 24px;
  display: inline;
  width: 328px;
  height: 67px;
  border: 1px solid #0a3871;
  left: 32px;
  top: 710px;
  position: absolute;
  display: none;
}
#txt {
  display: none;
  padding: auto;
  text-align: center;
}

@media (max-width: 400px) {
  #decodificado {
    width: auto;
    position: static;
    margin-bottom: 10px;
  }
  .btncripto,
  .btndescripto,
  .btncopiar {
    position: static;
    margin-bottom: 10px;
    margin-left: 40px;
  }
  #imglupa {
    display: none;
  }
  div {
    margin-top: 10px;
  }
  .btncripto {
    width: 343px;
    height: 67px;
    position: absolute;
    display: inline;
    top: 420px;
    left: -24px;
  }
  .btndescripto {
    width: 343px;
    height: 67px;
    position: absolute;
    display: inline;
    top: 500px;
    left: -24px;
  }
  main {
    width: 375px;
    height: 933px;
  }
  #ler {
    font-size: 15px;
    position: absolute;
    left: 60px;
    top: 130px;
  }
  #decodificado {
    background: #ffffff;
    display: inline-block;
    border-radius: 32px;
    margin-top: 20px;
    position: absolute;
    left: 20px;
    width: 327px;
    height: 186px;
    left: 24px;
    top: 600px;
  }
  .btncopiar {
    left: -50px;
    top: 200px;
    position: absolute;
    width: 343px;
    height: 67px;
  }
  #copiar {
    display: none;
  }
  .txtdigitado {
    font-size: 20px;
    padding: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .txtdigitados {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 15px;
    font-weight: 700;
  }
  p {
    margin-top: 10px;
    position: absolute;
    left: 0px;
    top: 100px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #decodificado {
    width: auto;
    position: static;
    margin-bottom: 10px;
  }
  .btncripto,
  .btndescripto,
  .btncopiar {
    position: static;
    margin-bottom: 10px;
    margin-left: 40px;
  }
  #imglupa {
    display: none;
  }
  div {
    margin-top: 10px;
  }
  .btncripto {
    width: 343px;
    height: 67px;
    position: absolute;
    display: inline;
    top: 420px;
    left: -10px;
    margin-left: 40px;
  }
  .btndescripto {
    width: 343px;
    height: 67px;
    position: absolute;
    display: inline;
    top: 420px;
    left: 350px;
    margin-right: 40px;
  }
  main {
    width: 375px;
    height: 933px;
  }
  #ler {
    font-size: 15px;
    position: absolute;
    left: 60px;
    top: 130px;
    left: 40px;
    width: 688px;
  }
  #decodificado {
    background: #ffffff;
    display: inline-block;
    border-radius: 32px;
    margin-top: 20px;
    position: absolute;
    left: 40px;
    right: 40px;
    width: auto;
    height: auto;
    top: 500px;
    max-height: 600px;
    min-width: 688px;
    min-height: 133px;
  }
  .btncopiar {
    width: 624px;
    height: 67px;
    margin: auto;
    top: auto;
    position: relative;
    margin-bottom: 30px;
  }
  #copiar {
    display: none;
  }
  .txtdigitado {
    font-size: 20px;
    position: relative;
    padding-top: 15px;
    text-align: center;
    top: auto;
  }
  .txtdigitados {
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }
  p {
    margin-top: 10px;
    position: absolute;
    left: 150px;
    top: 80px;
    font-size: 15px;
    text-align: center;
  }
}
